---
import Layout from '../layouts/BlogPost.astro';
import Test from '../components/solid/Test';
---

<Layout
	title="About Me 一位前端工程狮"
	description="一位前端工程狮 🦁"
	pubDate={new Date('June 02 2024')}
	heroImage="/about.webp"
>
	<p>
		本人是一名自学一年多的前端开发的工程狮 🦁，对 Web 技术和用户界面设计有一丢丢的了解。同时我还是一个酷爱🤘摇滚的人，平时会听一些国摇，垃圾摇滚，金属摇滚，以及一些金属核啥的(🥺核狗一只)。
	</p>

	<p>
		本博客是基于 Solid.js 和 Astro 开发的，感谢🙏。
	</p>

</Layout>
